@import "__fonts.scss";
@import "__common.scss";
@import "__default.scss";

.business-list {
    margin-top: 200px;
    .list-item .list-btn {
        border: 1px solid #eaebef;
        border-radius: 5px;
        padding: 30px;
        .list-step {
            text-align: left;
            margin-bottom: 15px;
            .step {
                font-size: 15px;
                padding: 2px 8px;
                border-radius: 4px;
            }
            .step1 {
                color: #226ED3;
                background-color: #E2F1FF;
            }
            .step2 {
                color: #DE5C35;
                background-color: #FFEBE5;
            }
            .step3 {
                color: #008515;
                background-color: #DFF6D9;
            }
        }
        .list-tit {
            display: block;
            color: #1d1d1d;
            font-size: 24px;
            font-weight: 900;
            text-align: left;
        }
        .num {
            display: block;
            border-top: 1px solid #efefef;
            padding-top: 15px;
            margin-top: 15px;
            text-align: left;
        }
    }
}