/* default.css : 브라우저가 태그에게 준 스타일을 모두 삭제하고 내가 준 스타일이 적용되게 하는 css */
* { /* wild card.  모든 태그를 지칭할 수 있음. 상속이 안되는 속성을 적용시킴. */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* width/padding을 같이주면 width가 늘어나는 현상을 막는 명령 */
}
li { /* li 앞 구분점 삭제 명령 */
    list-style: none;
}
a {/* 링크 되는 글자의 색을 상속된 색으로 변경시키고, 밑줄 스타일 삭제 명령 */
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, strong {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
em {
    font-style: normal;
}
button {
    border: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}