@import url(default.css);
@import url(fonts.css);

html, body {
    color: #3d3d3d;
    font-family: 'Pretendard';
    font-size: 22.4px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.2;
    word-break: keep-all;
}
header {
    height: 99px;
    background: url(../imges/header_bg.png) no-repeat center center / cover;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
}
header .wrapper {
    width: 1260px;
    margin: 0 auto;/*가운데 정렬 명령*/
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 24px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li {
    color: #fff;
    font-size: 25px;
    margin: 36px 56px 0 0;
}
header .gnb ul li:last-child {
    margin-right: 39px;
}
.visual {
    height: 1080px;
    background: url(../imges/visual_bg.png) no-repeat center center / cover;
}
.container .wrapper {
    width: 1260px;
    margin: 0 auto;/*가운데 정렬 명령*/
}
.container .visual .txt {
    color: #fff;
    padding: 195px 0 0 645px;
}
.container .visual .txt strong {
    font-size: 35px;
    display: block;
    padding-bottom: 12px;
}
.container .visual .txt h2 {
    font-family: "DM Serif Display";
    font-size: 70px;
    line-height: 1.09;
    padding-bottom: 27px;
}
.container .biz .wrapper {
    display: flex;
    justify-content: space-between;
}
.container .biz {
    margin: 179px 0 240px 0;
}
.container .biz .txt {
    margin: 100px 0 0 0;
}
.container .biz .txt strong {
    color: #5F9FC3;
    font-size: 25px;
    font-weight: 900;
}
.container .biz .txt h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.26;
    margin: 10px 0 41px 0;
}
.container .biz .txt p {
    font-size: 35px;
}
.container .biz .txt .more {
    margin: 48px 0 0 0;
}
.container .biz .txt .more a {
    font-size: 35px;
    display: inline-block;
    background: url(../imges/more_icon.svg) no-repeat right center;
    padding: 0 60.5px 10.5px 0;
    /* biz영역에 더보기 마우스오버 명령에 보더 바텀 줬는데 여백이 안들어감.
-> 마진이 아니라 패딩으로 주는거였음. */
}
.container .biz .txt .more a:hover {
    color: #5F9FC3;
    background-image: url(../imges/more_icon_hover.svg);
    border-bottom: 1px solid #5F9FC3;
}
.container .biz .txt .more a span {
    display: inline-block;
    margin: 7px 0 0 0;
}
.container .biz .photo {
    display: flex;   
}
.container .biz .photo .photo_r {
    margin: 0 0 0 44px;
}
.container .biz .photo .photo_r .photo_b {
    margin: 0 0 50px 0;
}
.container .news {
    margin: 0 0 200px 0;
}
.container .news .top {
    display: flex;
    justify-content: space-between;
}
.container .news .top .txt strong {
    color: #5F9FC3;
    font-size: 25px;
    font-weight: 900;
}
.container .news .top .txt h2 {
    color: #1d1d1d;
    font-size: 50px;
    margin: 11px 0 60px 0;
}
.container .news .top button {
    display: flex;
    color: #666;
    font-size: 20px;
    margin: 59px 0 0 0;
}
.container .news .top button .prev:hover em, .news .top button .nxt:hover em {
    color: #1d1d1d;
    font-weight: 800;
}
.container .news .top button .bt {
    margin-right: 40px;
}
.container .news .cardview ul {
    display: flex;
}
.container .news .cardview ul li {
    margin-right: 24px;
}
.container .news .cardview ul li a .photo img {
    /* ul li애 이미지에 border-radious 왜 안들어가는지 찾기 -> .photo가 아닌 img에 직접
명령 부여 하니 적용되었음. */
    width: 404px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 40px 40px 0 0;
}
.container .news .cardview .txt {
    width: 404px;
    height: 183px;
    background-color: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0 0 40px 40px;
    padding: 16px 44px 0 44px;
}
.container .news .cardview a, .news .cardview .txt em {
    display: block;
}
.container .news .cardview em {
    color: #666;
    font-size: 15px;
}
.container .news .cardview p {
    font-size: 33px;
    font-weight: 1.27;
}
/*  
news영역에 버튼 태그 마우스오버 효과 주기
-> 의도한대로 주긴 줬는데 덜그럭 거림... 어떻게 해결할지?
카드뷰에 사진에 마우스 오버하면 확대되는 효과주기
 */