@import url(default.css);
@import url(fonts.css);

html, body {
    color: #3d3d3d;
    font-family: 'Prentendard';
    font-size: 22.4px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.2;
    word-break: keep-all;
}
header {
    height: 99px;
    background: url(../imges/header_bg.png) no-repeat center center / cover;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
}
header .wrapper {
    width: 1260px;
    margin: 0 auto;/*가운데 정렬 명령*/
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 24px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li {
    color: #fff;
    font-size: 25px;
    margin: 36px 56px 0 0;
}
header .gnb ul li:last-child {
    margin-right: 39px;
}
.visual {
    height: 1080px;
    background: url(../imges/visual_bg.png) no-repeat center center / cover;
}
.container .wrapper {
    width: 1260px;
    margin: 0 auto;/*가운데 정렬 명령*/
}
.container .visual .txt {
    color: #fff;
    font-size: 35px;
    line-height: 1.1;
    padding: 194px 0 0 642px;
}
.container .visual .txt em {
    font-family: "DM Serif Display";
    font-size: 72px;
}