@import "__fonts.scss";
@import "__common.scss";
@import "__default.scss";

.h2 {font-size: 30px;font-weight: 900;}
.text-right {text-align: right;}
.pilsu {position: relative;font-size: 0;line-height: 0;
    &::before {content: "*";position: absolute;left: -10px;top: -2px;font-size: 16px;font-weight: 900;color: #3E93E3;}
}
.point {color: #3E93E3;font-weight: 600;}

.form-horizontal.bucket-form {
    .form-group {display: flex;font-size: 18px;color: #1d1d1d;border-top: 1px solid #ddd;padding: 10px 20px;}
    .col-sm-2 {width: 10%;}
    .col-sm-4 {width: 40%;}
}