@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.tit {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -0.06em;
}
header {
    color: #fff;
    height: 100px;
    position: absolute; /* 감싸는 요소 어떤 값에도 position을 안주면 body을 기준으로 정렬함.(상관없음) 
    header는 원래 block요소라서 너비가 브라우저 너비만큼 들어감.
    하지만 position:absolute가 적용되면 너비값이 사라짐.
    내부 컨텐츠 요소의 너비값만큼만 너비가 적용됨. 
    header에 position:absolute을 주면 너비값을 100% 줘야한다.(cf. header만 그럼) */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
header .logo a {
    display: block;
    margin: 25px 34px 0 0;
}
header .wrapper {
    display: flex;
}
header .gnb .gnb_open {
    display: none;
}
header ul { 
    display: flex;
}
header ul li a {
    display: block;
    font-weight: 900;
    padding: 41px 21px 43px 21px;
}
header .lang a {
    display: inline-block;
    font-weight: 900;
    margin: 42px 0 0 761px;
    position: relative;
}
header .lang a::after {
    background: url(../imges/lang_ico.svg) no-repeat center center;
    width: 22px;
    height: 22px;
    position: absolute;
    content: "";
    right: -25px;
    top: 0;
}
@media screen and (max-width:640px){
    header {
        height: 50px;
    }
    header .logo a {
        margin: 0;
    }
    header .logo img { /* img tag로 코딩한 요소는 사이즈가 변경되면 반드시 css에서 img tag을 불러서 스타일을 줘야함.
        감싸는 요소에 줘봤자 적용 안됨. */
        width: 51px;
        margin: 12px 0 0 0;
    }
    header .gnb .gnb_open { /* 모바일에서 나타남.
        이미 header에 position값이 있다. 즉, header 기준 정렬. */
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px; /* button size을 크게 줘서 잘 눌리게 하려고 */
        font-size: 0;
        line-height: 0;
        background: url(../imges/gnb_open_ico.svg) no-repeat center center;
    }
    header .gnb .gnb_wrap { /* menu는 열기 버튼을 클릭했을 때 만 나옴. */
        display: none;
    }
}/*header media */

.visual {
    color: #fff;
    background: url(../imges/visual_bg.png) no-repeat center center / cover;
    height: 900px;
}
.visual .wrapper {
    position: relative;
}
.visual strong {
    font-family: 'S-CoreDream';
    font-size: 100px;
    font-weight: 900;
    color: rgba(255,255,255,0.2);
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    margin: 205px 0 0 0;
}
.visual h2 {
    padding: 540px 0 0 0;
    
}
.visual p {
    font-size: 22px;
    margin: 22px 0 31px 0;
}
.visual .more a {
    display: inline-block;
    font-size: 22px;
    font-weight: 900;
    position: relative;
    width: 222px;
}
.visual .more a::after {
    background: url(../imges/more_ico.svg) no-repeat center center / contain;
    content: "";
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    top: -3px;
}
@media screen and (max-width:640px){
    .visual {
        height: auto;
        padding: 0 0 33px 0;
    }
    .visual strong {
        font-size: 50px;
        margin: 69px 0 0 0;
    }
    .visual h2 {
        font-size: 25px;
        padding: 204px 0 0 0;
    }
    .visual p {
        font-size: 13px;
        margin: 9px 0 19px 0;
        width: 184px;
    }
    .visual p br {
        display: none;
    }
    .visual .more a {
        font-size: 13px;
        width: 131px;
    }
    .visual .more a::after {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        top: -1px;
    } 
}/* visual media */
.contents {
    margin: 153px 0 157px 0;
    
}
.contents .wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}
.contents strong {
    font-family: 'S-CoreDream';
    font-size: 100px;
    font-weight: 900;
    color: rgba(102,102,102,0.2);
    position: absolute;
    content: "";
    left: 0;
    top: 0;
}
.contents .txt h2 {
    color: #1d1d1d;
}
.contents .txt p {
    font-size: 22px;
    margin: 22px 0 31px 0 ;
}

.contents .txt .more a {
    color: #1d1d1d;
    display: inline-block;
    font-size: 22px;
    font-weight: 900;
    position: relative;
    width: 249px;
}
.contents .txt .more a::after {
    background: url(../imges/more_b_ico.svg) no-repeat center center / contain;
    content: "";
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    top: -3px;   
}
.contents .photo {
    margin: 78px 0 0 0;
}
.contents .photo img {
    margin-right: 24px;
}
.contents .photo img:last-child {
    margin-right: 0;
}

