@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header h1 a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 270px;
    height: 51px;
    margin-top: 25px;
    position: relative; /* after 정렬 기준 */
}
header h1 a::after {
    position: absolute; /* a 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../imges/logo.svg) no-repeat center center / contain;
    content: "";
}
header .gnb button {
    display: none; /* ver. pc 에서는 안나오게 할 것임. */
}
header .gnb ul {
    display: flex;
}
header .gnb ul li {
    padding: 33px 37px 39px 37px;
}
header .gnb ul li a {
    font-weight: 900;
    font-size: 25px;
}
header .gnb ul li:hover a {
    color: #DB4210;
}
@media screen and (max-width:768px) {
    header h1 a {
        top: -14px;
        width: 144px;
        height: 27px;
    }
    header .gnb button {
        display: block;
        position: absolute; /* header 기준 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        font-size: 0;
        line-height: 0;        
    }
    header .gnb button::before {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 37px;
        height: 35px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L19 2' stroke='%23DB4210' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M2 10L19 10' stroke='%23DB4210' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M2 18L19 18' stroke='%23DB4210' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap {
        display: none;
    }
}/* media header 768 */
@media screen and (max-width:475px) {
    header h1 a {
        width: 102px;
        height: 19px;
    }
    header .gnb button::before  {
        width: 26px;
        height:246px;
    }
}/* media header 475 */

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 870px;
}
.visual ul li.pop_bg1 {
    background-image: url(../imges/visual_bg1.png);
}
.visual ul li.pop_bg2 {
    background-image: url(../imges/visual_bg2.png);
}
.visual ul li.pop_bg3 {
    background-image: url(../imges/visual_bg3.png);
}
.visual ul li h2 {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.5;
    padding-top: 255px;
}
.visual ul li h2 em {
    background-color: #91AA51;
    padding: 0 30px;
}
.visual .btn_wrap {
    position: absolute; /* swiper 기준 정렬. 여기선 안보임 */
    left: 0;
    top: 425px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.visual .btn_wrap button {
    font-size: 0;
    line-height: 0;
    width: 96px;
    height: 20px;
    position: relative;
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* button size 기준 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    left: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='106' height='26' viewBox='0 0 106 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M103 23.5H7L27.5 3' stroke='%23DB4210' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    right: 50px;
    left: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='106' height='26' viewBox='0 0 106 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 23.5H99L78.5 3' stroke='%23DB4210' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
/* 비주얼의 버튼 삭제 */
@media screen and (max-width:1500px) {
    .visual .btn_wrap button.btn_prev::before {
        display: none;
    }
    .visual .btn_wrap button.btn_next::before {
        display: none;
    }
} /* //비주얼의 버튼 삭제 */
@media screen and (max-width:768px) {
    .visual ul li {
        height: 768px;
    }
    .visual ul li h2 {
        font-size: 70px;
    }
} /* // visual media 768 */
@media screen and (max-width:640px) {
    .visual ul li {
        height: 640px;
    }
    .visual ul li h2 {
        font-size: 48px;
    }
}/* // visual media 640 */
@media screen and (max-width:475px) {
    .visual ul li {
        height: 560px;
    }
    .visual ul li h2 {
        font-size: 38px;
    }
    .visual ul li h2 em {
        background-color: #91AA51;
        padding: 0 10px;
    }
} /* // visual media 475 */

.signiture {
    background-color: #F4764C;
    color: #fff;
    padding: 77px 0 144px 0;
}
.signiture .wrapper {
    position: relative;
}
.signiture .tit {
    float: left; /* 부유요소 */
    margin-top: 23px;
}
.signiture .tit h2 {
    font-size: 45px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0;
}
.signiture .tit p {
    font-size: 20px;
    line-height: 1.1;
}
.signiture .list {
    width: 1260px;
    margin-left: 428px;
}
.signiture .list ul li {
    width: 297px;
}
.signiture .list ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0; /* 이미지 하단 여백 삭제 */
}
.signiture .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 감싸는 요소 photo 영역에 이미지 꽉 채우기 */
    transition: 0.3s;
}
.signiture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.signiture .list ul li a h3 {
    /* 1줄 제한 -- block요소여야 함. */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 1.1;
    margin: 13px 0 11px 0;
}
.signiture .list ul li a p {
    /* 2즐 이상 제한 */
    display: block;
    line-height: 1.1;
    height: 2.2em; /* 행간 x 줄수 */
    overflow: hidden;    
}
.signiture .more {
    position: absolute; /* wrapper 기준 정렬 */
    left: 0;
    top: 124px;
}
.signiture .more a {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0;
    border: 1px solid #fff;
    padding: 6px 63px 6px 12px;
    position: relative; /* after 정렬 기준 */
}
.signiture .more a::after {
    position: absolute; /* a 기준 정렬 */
    right: 17px;
    top: 12px;
    width: 32px;
    height: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='8' viewBox='0 0 34 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.5H32L25.5 1' stroke='white'/%3E%3C/svg%3E%0A");
    content: "";
}
.signiture .more a:hover {
    background-color: #91AA51;
    border-color: #91AA51;
}
@media screen and (max-width:768px) {
    .signiture {
        padding: 70px 0;
    }
    .signiture .tit {
        float: none; /* 부유요소 취소 */
        margin-top: 0;
        margin: 0 0 37px 0;
    }
    .signiture .tit h2 {
        font-size: 40px;
    }
    .signiture .tit p {
        font-size: 18px;
    }
    .signiture .list {
        width: auto;
        margin-left: 0;
    }
    .signiture .list ul li {
        width: 152px;
    }
    .signiture .list ul li a h3 {
        /* 1줄 제한 해제 */
        display: block;
        white-space: wrap;
        overflow: visible;
        text-overflow: ellipsis;
        /* 2즐 이상 제한 */
        display: block;
        line-height: 1.1;
        height: 2.2em; /* 행간 x 줄수 */
    }
    .signiture .more {
        position: relative; /* absolute 해제*/
        left: auto;
        top: auto;
        display: flex;
        justify-content: center; /* 중앙 정렬 */
        margin-top: 35px;
    }
    .signiture .more a {
        font-size: 13px;
        padding: 5px 38px 5px 10px;        
    }
    .signiture .more a::after {
        position: absolute; /* a 기준 정렬 */
        right: 11px;
        top: 9px;
        width: 16px;
        height: 4px;
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='6' viewBox='0 0 19 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5H17.5L13 1' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    } 
}/* signiture_media 768 */

.location h2 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 0;
    text-align: center;
    margin: 134px 0 84px 0;
}
.location .list ul li {
    width: 404px;
}
.location .list ul li a .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.location .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Google Maps 스타일 주기 */
.location .list ul li a {
    position: relative; /* strong 정렬 기준 */
}
.location .list ul li a strong {    
    display: block;
    position: absolute; /* a 기준 정렬, after 정렬 기준 */
    left: 12px;
    bottom: 76px;
    background-color: #91AA51;
    color: #fff;
    padding: 6px 28px 7px 7px;
    line-height: 1;
}
.location .list ul li a strong::after {
    position: absolute; /* strong 기준 정렬 */
    right: 6px;
    top: 6px;
    width: 17px;
    height: 17px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_28' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_28)'%3E%3Cpath d='M3.97756 14.1666C3.65149 14.1666 3.37926 14.0574 3.16086 13.839C2.94245 13.6206 2.83325 13.3483 2.83325 13.0223V3.97756C2.83325 3.65149 2.94245 3.37926 3.16086 3.16086C3.37926 2.94245 3.65149 2.83325 3.97756 2.83325H7.95503V3.54159H3.97756C3.86848 3.54159 3.76855 3.58698 3.67776 3.67776C3.58698 3.76855 3.54159 3.86848 3.54159 3.97756V13.0223C3.54159 13.1314 3.58698 13.2313 3.67776 13.3221C3.76855 13.4129 3.86848 13.4583 3.97756 13.4583H13.0223C13.1314 13.4583 13.2313 13.4129 13.3221 13.3221C13.4129 13.2313 13.4583 13.1314 13.4583 13.0223V9.0448H14.1666V13.0223C14.1666 13.3483 14.0574 13.6206 13.839 13.839C13.6206 14.0574 13.3483 14.1666 13.0223 14.1666H3.97756ZM6.89802 10.6031L6.3967 10.1018L12.9569 3.54159H9.91658V2.83325H14.1666V7.08325H13.4583V4.04291L6.89802 10.6031Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}

.location .list ul li a h3 {
    font-weight: 900;
    font-size: 22px;
    margin: 16px 0;
}
.location .list ul li a p {
    font-size: 22px;
    margin-bottom: 202px;
}
.location .list .btn_wrap {
    position: relative;
}
.location .list .btn_wrap button {
    font-size: 0;
    line-height: 0;       
}
.location .list .btn_wrap button.btn_prev::before {
    position: absolute; /* wrapper 기준 정렬 */
    left: 0;
    top: -650px;
    width: 36px;
    height: 11px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='16' viewBox='0 0 46 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.5 13.5H7L18 2.5' stroke='%23DB4210' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    content: "";
}
.location .list .btn_wrap button.btn_next::before {
    position: absolute; /* wrapper 기준 정렬 */
    right: 0;
    top: -650px;
    width: 36px;
    height: 11px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='16' viewBox='0 0 46 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 13.5H39.5L28.5 2.5' stroke='%23DB4210' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    content: "";
}
@media screen and (max-width:768px) {
    .location h2 {
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 0;
        text-align: center;
        margin: 70px 0 40px 0;
    }
    .location .list ul li {
        width: 318px;
    }
    .location .list ul li a strong {
        display: inline-block;
        position: relative; /* absolute 해제 */
        left: auto;
        bottom: auto;
        padding: 3px 29px 5px 7px;
        margin-top: 15px;
        line-height: 1;
    }
    .location .list ul li a strong::after {
        right: 5px;
        top: 2px;
    }
    .location .list ul li a h3 {
        font-size: 15px;
        margin: 16px 0 10px 0;
    }
    .location .list ul li a p {
        font-size: 15px;
        margin-bottom: 0;
    }
    .location .list .btn_wrap button.btn_prev::before {
        top: -380px;
    }
    .location .list .btn_wrap button.btn_next::before {
        top: -380px;
    }
} /* location media 768 end */
@media screen and (max-width:639px)  {
    .location .list .btn_wrap button {
        display: none;
    }
}

footer {
    background-color: #F5E94B;
    color: #1d1d1d;
    font-weight: 900;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 0;
    padding: 58px 0 78px 0;
}
footer .wrapper {
    position: relative; /* button 정렬 기준 */
}
footer .inner {
    display: flex;
    justify-content: space-between;
}
footer .f_info span{
    margin-bottom: 17px;
}
footer .f_info .copyright {
    color: rgba(0, 0, 0, 0.6);
}
footer .f_nav {
    display: flex;
    text-align: right;
}
footer .f_nav ul {
    margin-right: 31px;
}
footer .f_nav ul li a {
    display: block;
    margin-bottom: 18px;
}
footer .f_nav .privacy span {
    margin-bottom: 18px;    
}
footer .f_logo {
    margin-top: 44px;
}
footer span {
    display: block;
}
footer .top button {
    position: absolute;
    right: 0;
    top: 75px;
    font-size: 11px;
    border: 1px solid #1d1d1d;
    border-radius: 50%;
    padding: 4px 10px;
}