@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header h1 a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 270px;
    height: 51px;
    margin-top: 25px;
    position: relative; /* after 정렬 기준 */
}
header h1 a::after {
    position: absolute; /* a 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../imges/logo.svg) no-repeat center center / contain;
    content: "";
}
header .gnb button {
    display: none; /* ver. pc 에서는 안나오게 할 것임. */
}
header .gnb ul {
    display: flex;
}
header .gnb ul li {
    padding: 33px 37px 39px 37px;
}
header .gnb ul li a {
    font-weight: 900;
    font-size: 25px;
}
header .gnb ul li:hover a {
    color: #DB4210;
}
@media screen and (max-width:768px) {
    header h1 a {
        top: -14px;
        width: 144px;
        height: 27px;
    }
    header .gnb button {
        display: block;
        position: absolute; /* header 기준 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        font-size: 0;
        line-height: 0;        
    }
    header .gnb button::before {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 37px;
        height: 35px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L19 2' stroke='%23DB4210' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M2 10L19 10' stroke='%23DB4210' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M2 18L19 18' stroke='%23DB4210' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap {
        display: none;
    }
}/* media header 768 */
@media screen and (max-width:475px) {
    header h1 a {
        width: 102px;
        height: 19px;
    }
    header .gnb button::before  {
        width: 26px;
        height:246px;
    }
}/* media header 475 */

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 870px;
}
.visual ul li.pop_bg1 {
    background-image: url(../imges/visual_bg1.png);
}
.visual ul li.pop_bg2 {
    background-image: url(../imges/visual_bg2.png);
}
.visual ul li.pop_bg3 {
    background-image: url(../imges/visual_bg3.png);
}
.visual ul li h2 {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.5;
    padding-top: 255px;
}
.visual ul li h2 em {
    background-color: #91AA51;
    padding: 0 30px;
}
.visual .btn_wrap {
    position: absolute; /* swiper 기준 정렬. 여기선 안보임 */
    left: 0;
    top: 425px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.visual .btn_wrap button {
    font-size: 0;
    line-height: 0;
    width: 96px;
    height: 20px;
    position: relative;
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* button size 기준 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    left: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='106' height='26' viewBox='0 0 106 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M103 23.5H7L27.5 3' stroke='%23DB4210' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    right: 50px;
    left: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='106' height='26' viewBox='0 0 106 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 23.5H99L78.5 3' stroke='%23DB4210' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
/* 비주얼의 버튼 삭제 */
@media screen and (max-width:1500px) {
    .visual .btn_wrap button.btn_prev::before {
        display: none;
    }
    .visual .btn_wrap button.btn_next::before {
        display: none;
    }
} /* //비주얼의 버튼 삭제 */
@media screen and (max-width:768px) {
    .visual ul li {
        height: 768px;
    }
    .visual ul li h2 {
        font-size: 70px;
    }
} /* // visual media 768 */
@media screen and (max-width:640px) {
    .visual ul li {
        height: 640px;
    }
    .visual ul li h2 {
        font-size: 48px;
    }
}/* // visual media 640 */
@media screen and (max-width:475px) {
    .visual ul li {
        height: 560px;
    }
    .visual ul li h2 {
        font-size: 38px;
    }
    .visual ul li h2 em {
        background-color: #91AA51;
        padding: 0 10px;
    }
}


footer {
    margin-top: 500px;
}