* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    font-family: '맑은고딕', 'Malgun Gothic', '돋움', 'Dotum';
    font-size: 15px;
    background-color: #fff;
    color: #333;
}
.wrapper {
    width: 1000px;
    display: flex;
}

header {
    text-align: center;
    position: relative;
    z-index: 100;
}
header .logo {
    margin-bottom: 20px;
}
header .gnb .depth1>li {
    height: 50px;
    line-height: 50px;
    position: relative; /* depth2 정렬 기준 */
}
header .gnb .depth1>li>a {
    display: block;
    font-size: 21px;
    font-weight: 700;
}
header .gnb .depth1>li:hover>a {
    color: #36cfe1;
}
header .gnb .depth2 {
    display: none;
    position: absolute; /* depth1 li 기준 정렬 */
    left: 200px;
    top: 0;
    width: 100%;
}
header .gnb .depth2>li>a {
    display: block;
    font-size: 18px;
    color: #fff;
    background-color: #36cfe1;
}
header .gnb .depth2>li>a:hover {
    background-color: #9c3c4a;
} 
header .gnb .depth1>li.over>.depth2 {
    display: block;
}

.popup {
    height: 350px;
    overflow: hidden;
    position: relative; /* li 정렬 기준 */
}
.popup ul li {
    position: absolute; /* popup 기준 정렬 */
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.5;
    transition: 0.3s;
}
.popup ul li.active {
    z-index: 2;
    opacity: 1;
}

.container {
    display: flex;
    height: 180px;
    margin-top: 20px;
}
.container h2 {
    font-size: 20px;
    /* border: 1px solid #333; */
    background-color: #36cfe1;
    padding: 7px 10px;
    margin-bottom: 20px;
}
.container .notice {
    width: 260px;
    height: 180px;
    position: relative; /* layer_popup 정렬 기준 */
}
.container .notice ul li a {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.container .gallery {
    width: 270px;
    height: 180px;
}
.container .gallery h2 {
    background-color: #9c3c4a;
    color: #fff;
}
.container .gallery .detail {
    display: flex;
    justify-content: space-around;
}
.container .link {
    width: 270px;
    height: 180px;
    background-color: aqua;
}

.layer_popup {
    display: none;
    background-color: #9c3c4a;
    color: #fff;
    position: absolute; /* notice 기준 정렬 */
    left: 300px;
    top: 300px;
    width: 500px;
    z-index: 200;
    padding: 20px 30px;
}
.layer_popup h2 {
    font-size: 22px;
}
.layer_popup p {
    font-size: 16px;
    margin: 10px 0;
}
.layer_popup button {
    border: 0;
    background-color: #36cfe1;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    color: #9c3c4a;
    cursor: pointer;
}

footer {
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .copy {
    color: rgba(0, 0, 0, 0.6);
}