* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    font-family: '맑은고딕', 'Malgun Gothic', '돋움', 'Dotum';
    font-size: 15px;
    color: #333;
    background-color: #fff;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header {
    position: relative;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    width: 250px;
}
.gnb .depth1 {
    display: flex;
}
.gnb .depth1>li {
    width: 150px;
    text-align: center;
    position: relative;
}
.gnb .depth1>li>a {
    display: block;
    font-size: 21px;
    font-weight: 700;
    line-height: 100px;
}
.gnb .depth1>li:hover>a {
    color: #48487d;
}
.gnb .depth2 {
    display: none;
    position: absolute; /* depth1 기준 정렬 */
    left: 0;
    top: 100px;
    width: 100%;
    color: #fff;
}
.gnb .depth2 li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 151px;
    background-color: #48487d;
    content: "";
    z-index: -1;
}
.gnb .depth2>li>a {
    display: block;
    font-size: 16px;
    line-height: 50px;
}
.gnb .depth2>li:hover>a {
    background-color: #fabd43;
    color: #48487d;
}
.gnb .depth1.over .depth2 {
    display: block;
}

.popup {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.popup ul li {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.5;
    transition: 0.3s;
}
.popup ul li.active {
    z-index: 2;
    opacity: 1;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 200px;
}
.container h2 {
    background-color: #fabd43;
    width: 85px;
    font-size: 18px;
    padding: 5px 5px 10px 5px;
    text-align: center;
    color: #333;
}
.container .notice ul li {
    margin: 6px 0;
}
.container .notice a {
    display: flex;
    justify-content: space-between;
}
.container .notice a:hover {
    text-decoration: underline;
    color: #fabd43;
}
.container .notice a strong {
    margin: 4px 10px 0 0;
}

.container .gallery {
    width: 320px;
}
.container .gallery ul {
    display: flex;
    justify-content: space-between;
}
.container .gallery ul li a img{
    width: 100px;
    transition: 0.3s;
}
.container .gallery ul li a:hover img {
    opacity: 0.5;
}

.layer_popup {
    display: none;
    position: absolute;
    left: calc(50% - 250px);
    top: 300px;
    width: 500px;
    padding: 20px;
    z-index: 200;
    background-color: #48487d;
    color: #fff;
}
.layer_popup h2 {
    font-size: 22px;
}
.layer_popup p {
    font-size: 16px;
    letter-spacing: -0.05em;
    margin: 10px 0;
}
.layer_popup button {
    border: 0;
    background-color: #fabd43;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .copy {
    color: rgba(0, 0, 0, 0.6);
}